
<mat-toolbar color="primary">
  <span>PasteBin</span>
</mat-toolbar>

<mat-card style="padding: 8px; margin: 16px;">
  <div style="display: flex; justify-content: space-between;">
    <h2>Editor</h2>
    <button mat-flat-button color="primary">Submit</button>
  </div>

  <!-- EDITOR - PLAIN TEXT -->
  <mat-form-field appearance="outline">
    <mat-label>Plain Text</mat-label>
    <textarea
      style="resize: none;"
      rows="20"
      matInput
      [formControl]="name">
    </textarea>
  </mat-form-field>
</mat-card>

<router-outlet></router-outlet>
